*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
}

body{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #000000cc;
}

header, .form, main {
    margin: 0 auto 70px;
    width: 90%;
    max-width: 500px;   
}

header h1, main h2{
    margin-bottom: 70px;
}

main h2 span {
    color: #ff4f4f;
}

header button {
    margin-top: 9px;
    padding: 8px 16px;
    border-radius: 5px;
    border: none;
    background-color: #ff4f4f;
    color: white;
    font-weight: bold;
}

.logo{
    width: 200px;
    margin: 60px 0;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    align-items: center;
    padding: 16px 64px;
    background-color: #ff4f4f;
    border-radius: 5px;
}

.form h2{
    text-align: right;
    color: rgb(224, 219, 219);
}

form input,
form button {
    width: 100%;
    margin-bottom: 4px;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px #ffffffaa solid;
}

form input{     
    background-color: transparent;
}

form input::placeholder{
    color: #ffffffaa
}

form button {
    font-weight: bold;
    background-color: white;
}

.donors{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.blood {
    color: #ff4f4f;
    font-weight: bold;
    display: flex;
    margin: 16px;
    align-items: center;
    position: relative;
    justify-content: center;
}

.blood::before {
    content: "";
    background-color: #ff4f4f22;
    width: 40px;
    height: 40px;
    position: absolute;
    border-radius: 50%;
    border-top-right-radius: 0;
    transform: rotate(-45deg);
}

.donor p {
    text-align: center;
    margin: 24px 0 30px 0;
}

footer{
    margin-top: auto;
    padding: 16px;
    border: 1px solid #eee;
}

section.form {
    transition: all 300ms;
}

section.form.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    margin-top: -70px;
}